<ion-header>
  <ion-toolbar color="primary">
    <ion-title>KAIAKO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >

<div class="container">
    <div class="buscador">
      <div class="busc"><ion-input placeholder=" Busca Entrenador"></ion-input></div>
    </div>
    <div class="block b">
      <div class="img">
          <img class="icon" src="./../../assets/Perfil.jpeg">
      </div>
      <div class="desc">
        <h1 style="text-align:center">Nombre Ent</h1>
        <button>Ver Mas</button>
      </div>
    </div>
    <div class="block2 b">
        <div class="img">
            <img class="icon" src="./../../assets/Perfil.jpeg">
        </div>
        <div class="desc">
          <h1 style="text-align:center">Nombre Ent</h1>
          <button>Ver Mas</button>
        </div>
    </div>
    <div class="block3 b">
        <div class="img">
            <img class="icon" src="./../../assets/Perfil.jpeg">
        </div>
        <div class="desc">
          <h1 style="text-align:center">Nombre Ent</h1>
          <button>Ver Mas</button>
        </div>
    </div>
    <div class="block4 b">
        <div class="img">
            <img class="icon" src="./../../assets/Perfil.jpeg">
        </div>
        <div class="desc">
          <h1 style="text-align:center">Nombre Ent</h1>
          <button>Ver Mas</button>
        </div>
    </div>
    <div class="block5 b">
        <div class="img">
            <img class="icon" src="./../../assets/Perfil.jpeg">
        </div>
        <div class="desc">
          <h1 style="text-align:center">Nombre Ent</h1>
          <button>Ver Mas</button>
        </div>
    </div>
    <div class="block6 b">
        <div class="img">
            <img class="icon" src="./../../assets/Perfil.jpeg">
        </div>
        <div class="desc">
          <h1 style="text-align:center">Nombre Ent</h1>
          <button>Ver Mas</button>
        </div>
    </div>
</div>
</ion-content>


