.container{
  height: 170%;
  width: 100%;
  background-color: #162a3a;
}

.b{
  background-color: white;
  width: 45%;
  height: 30%;
  display: inline-block;
  margin-left: 2.5%;
  margin-right: 2%;
  margin-top: 5%;
}

.img{
height:50%;
align-items: center;
}
.desc{
  height:40%;
  align-items: center;
}
.desc h1 {
  font-size: 20px;
}
.desc button{
  background-color: #8c3936;
  color:white;
  width: 40%;
  margin:auto;
  display:block;
  padding: 3%;
}

.icon{
    display: block;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    align-self: center;
    width: 70%; 
}

.buscador{
  background-color: #e3e3e3;
  width: 100%;
  height: 8%;
  padding: 3%;
  
}

.busc{
  border-radius: 25px;
  background-color:white;
  width: 70%;
  height: 80%;
  margin:auto;
  align-self: center;
  display: block;
  text-align: center;
}

.scroll-y {
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  overflow-y: var(--overflow);
}

.card{
  width: 40%;
  margin: 5%;
  display: inline-block;
}

.card ion-card-title {
  font-size: 15px;
  text-align: center;
  margin:5%;
}
img{
  width: 60%;
  display: block;
  align-self: auto;
  margin:auto;
}

.card p {
  text-align: center;
  margin:5%;
}

.card button {
 color: white;
 background-color: #8c3936;
 display: block;
  align-self: auto;
  margin:auto;
  margin-bottom: 3%;
  padding :3%;
}

.card ion-button{
  width: 40%;
  margin: auto;
  margin-bottom: 4%;
}

.star{
  color:#8c3936;
}


