<ion-header>
    <ion-toolbar color="primary">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>KAIAKO</ion-title>
      <ion-buttons routerLink = "/menu/notificaciones" slot="end">
        <ion-icon size="large" name="notifications"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-card class="card" *ngFor="let entrenador of entrenador">
          <ion-card-title id="nombre">{{entrenador.nombre}} </ion-card-title>
          <img [src]="entrenador.img">
          <p>
              {{entrenador.descr}}
          </p>
          <p class="star"><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star"></ion-icon><ion-icon name="star-outline"></ion-icon></p>
          <button>Ver Mas</button>
        </ion-card>
  </ion-content>
  