<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaulthref=""></ion-back-button>
    </ion-buttons>
    <ion-title>KAIAKO</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2 id="notTitulo">Notificaciones</h2>

  <ion-card id="notificacion" *ngIf="notificacion == true">
    <ion-card-header >
      <ion-card-title id="nombre" *ngIf="tipo == 'cliente'"> Nueva Rutina </ion-card-title>
      <p *ngIf="tipo == 'cliente'"> Ha recibido una nueva rutina </p>
      <ion-button  *ngIf="tipo == 'cliente'" (click)="borrarNotificacionC()" expand="block">
          Ver mis rutinas
      </ion-button>
      <ion-card-title id="nombre" *ngIf="tipo == 'entrenador'"> Solicitud de Rutina </ion-card-title>
      <p *ngIf="tipo == 'entrenador'"> Tienes nuevas solicitudes pendientes </p>
      <ion-button  *ngIf="tipo == 'entrenador'"  (click)="borrarNotificacionE()" expand="block" >
        Ver mis solicitudes
      </ion-button>
    </ion-card-header>
    <ion-card-content>

    </ion-card-content>
  </ion-card>
  
  <div id="noNotificaciones" *ngIf="notificacion == false">
    <h1 style="text-align: center"> Sin Notificaciones</h1>
    <p style="text-align: center"> Actualmente no tienes notificaciones sin revisar</p>
    <ion-icon style="font-size: 60px;" name="body" id="icono"></ion-icon>
  </div>

</ion-content>