#nombre{
    font-size: 20px;
}
.edit{
    float: right;
    align-self: right;
    display: block;
    color: #8c3936;
    font-size: 20px;
}
img {
    width: 40%;
    display: block;
    margin:auto;
    align-self: center;
    margin-top:2%;
}

#icono {
    display: block;
    margin:auto;
    align-self: center;
}



#notTitulo{
    margin: 10pt;
}