img {
    width: 10%;
    display: block;
    margin:auto;
    align-self: center;
}
.back{
    background-color: #162a3a;
}

.one{
    display: block;
    padding: 2%;
    background-color: white;
}
.boton{
    padding:2%;
    width: 100%;
    font-size: 80%;
    text-align: left;
    background-color: white;
}
.cliente{
    width: 100%;
}
.arrow{
    text-align: right;
    float: right;
    font-size: 20px;
    color: #8c3936;
}
