<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KAIAKO</ion-title>
    <ion-buttons routerLink = "/menu/notificaciones" slot="end">
      <ion-icon size="large" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ng-container *ngIf="!solicitudes || solicitudes.length == 0">
      <div *ngFor="let n of [0,1,2]" padding>
        <ion-skeleton-text></ion-skeleton-text>
        <p>
          <ion-skeleton-text class="fake-skeleton"></ion-skeleton-text>
        </p>
      </div>
    </ng-container>
    <ion-card class="one" *ngFor="let solicitud of solicitudes">
        <ion-card-header>
          <ion-card-subtitle>Solicitud de </ion-card-subtitle>
          <ion-card-title id="nombre" >{{solicitud.nombre}}  </ion-card-title>
          <img src='../assets/Perfil.jpeg'>
        </ion-card-header>
        <ion-card-content >
            <p><strong>Peso: </strong>{{solicitud.peso}} </p>
            <p><strong>Altura: </strong>{{solicitud.altura}} </p>
            <p><strong>Objetivo: </strong> {{solicitud.objetivo}}</p>
            <p><strong>Mensaje: </strong>{{solicitud.mensaje}}</p>
            <button class="boton">Aceptar</button>
            <button class="boton" (click)="rechazar(solicitud)">Rechazar</button>
        </ion-card-content>
    </ion-card>
  </ion-list>
</ion-content>
