img{
    width:40px;
    display: block;
    align-self: auto;
    margin:auto;
    margin-top:4%;
    margin-bottom: -5%;
}
.boton{
    display: inline-block;
    margin-left :50px;
    margin-top: 6%;
    background-color: #8c3936;
    color:white;
    padding:4%;
    align-self: center;
    border-radius: 100px;
}
.fake-skeleton {
    width: 60%;
}