<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KAIAKO</ion-title>
    <ion-buttons routerLink="/menu/notificaciones" slot="end">
      <ion-icon size="large" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
	<div class="texto">Tu tienes 16.045 puntos. Solo te quedan 7 puntos para alcanzar al usuario anterior!</div>

	<div class="user"><b>Usuario</b><br><br>
	choyos<br>
	tocho<br>
	paula<br>
	angelito96<br>
	mirimit<br>
	yayito<br>
	amicii<br>
	taylor<br>
	gaga<br>
	seleta<br>
	papahelados<br>
	mrpotato<br>
	zacarias<br>
	lucas<br>
	matias3<br>
	jose22<br>
	carmenchuu<br>
	juliana<br>	
  choyos<br>
	tocho<br>
	paula<br>
	angelito96<br>
	mirimit<br>
	yayito<br>
	amicii<br>
	taylor<br>
	gaga<br>
	seleta<br>
	papahelados<br>
	mrpotato<br>
	zacarias<br>
	lucas<br>
	matias3<br>
	jose22<br>
	carmenchuu<br>
	juliana<br>


	</div>

	<div class="pts"><b>Puntos</b><br><br> 
	120.201<br> 
	119.230<br> 
	117.241<br>
	116.261<br>
	114.246<br>
	114.141<br>
	113.201<br> 
	113.230<br> 
	112.241<br>
	111.261<br>
	110.246<br>
	108.941<br>
	108.401<br> 
	108.230<br> 
	107.241<br>
	105.261<br>
	105.246<br>
	103.141<br>
	100.201<br> 
	99.230<br> 
	98.281<br>
	98.261<br>
	97.246<br>
	96.841<br>
	96.201<br> 
	95.230<br> 
	95.241<br>
	94.261<br>
	93.246<br>
	92.941<br>
	91.401<br> 
	90.230<br> 
	87.241<br>
	86.261<br>
	84.246<br>
	83.141<br>
	</div>

</ion-content>
