ion-title{
	background-color:#8c3936;
}
ion-content{
	font-size:110%;
}
.texto{
	margin-top:8%;
	
	margin-bottom:8%;
	
	padding-right:4%;
	padding-left:4%;
}
.user {
	
	//border: solid 1px grey;

	border-bottom-style: none;

	width: 40%;

	float: left;

	margin-left:8%;
	
	padding-left:4%;
}

.pts {
	
	//border: solid 2px grey;
	
	border-bottom-style: none;

	border-right-style: none;

	width: 40%;

	float: right;

	text-align: center;

	margin-right:4%;

	padding-right:4%;

}

