.error-message{
    font-size: 60%;
}
.success-message{
    font-size: 60%;
}
.submit-btn{
    width:40%;
    display: block;
    margin:auto;
    align-self: center;
    margin-top:4%;
}

#comentario{
    height: 50px;
}
ion-item{
    margin-bottom:5%;
}
.lbl{
color:#8c3936;
}

#comentario{
    margin-bottom: 0%;
    height: 150px;
    margin-top: 2%;
    border-bottom: none;
}
.txtarea{
    height: 145px;
    padding: 3%;
    border:solid grey 2px;
}