.submit-btn{
    width:40%;
    margin-left: auto;
    margin-right: auto;
    margin-top:5%;
    margin-bottom:5%;
}

.crearCuentaBoton{
    margin-left: 15%;
    margin-right: 15%;
    border-radius: 4%;
}