.card{
    width: 40%;
    margin: 5%;
    display: inline-block;
}
#im{
    height: 50px;
}
.card ion-card-title {
    font-size: 15px;
    text-align: center;
    margin:5%;
}
img{
    width: 50%;
    display: block;
    align-self: auto;
    margin:auto;
}

.card p {
    text-align: center;
    margin:5%;
}

.card button {
   color: white;
   background-color: #8c3936;
   display: block;
    align-self: auto;
    margin:auto;
    margin-bottom: 12%;
    padding :3%;
}
.card ion-button{
    width: 40%;
    margin: auto;
}
.star{
    color:#8c3936;
}