img {
    width: 40%;
    display: block;
    margin:auto;
    align-self: center;
    margin-top:2%;
}
.back{
    background-color: #162a3a;
}

.one{
    display: block;
    padding: 2%;
    background-color: white;
}

.two{
    padding: 2%;
    background-color: white;
}

.edit{
    float: right;
    align-self: right;
    display: block;
    color: #8c3936;
    font-size: 20px;
}
.star{
    text-align: center;
    color:#8c3936;
}

#nombre{
   font-size: 20px;
}