img {
    width: 40%;
    display: block;
    margin:auto;
    align-self: center;
}
.back{
    background-color: #162a3a;
}

.one{
    display: block;
    height: 200px;
    padding: 2%;
    background-color: white;
}

.two{
    height: 400px;
    padding: 2%;
    background-color: white;
}