<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      KAIAKO
    </ion-title>
    <ion-buttons routerLink = "/menu/notificaciones" slot="end">
      <ion-icon size="large" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <h1 style="text-align: center"> Aun no tienes entrenador</h1>
    <p style="text-align: center"> Ve a explorar y encuentra al entrenador perfecto para tus objetivos</p>
    <ion-icon style="font-size: 60px;" name="body"></ion-icon>
  </div>
</ion-content>
