<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>KAIAKO</ion-title>
    <ion-buttons routerLink="/menu/notificaciones" slot="end">
      <ion-icon size="large" name="notifications"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1>Ajustes</h1>
  <ion-list>
    <ion-item>
      <ion-label>Permitir Notificaciones</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Permitir Localizacion</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
  
    <ion-item>
      <ion-label>Descargar con Red Movil</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
    <ion-item>
      <ion-label>Almacenar Rutinas en Memoria Externa</ion-label>
      <ion-toggle ></ion-toggle>
    </ion-item>
    
  </ion-list>
</ion-content>