<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Solicitud de entrenamiento</ion-title>
  </ion-toolbar>
</ion-header>
 
<ion-content padding>
  <form class="form" [formGroup]="validations_form"  (ngSubmit)="tryRegister(validations_form.value)">
 
    <ion-item>
      <ion-label  position="floating" color="primary">Entrenador</ion-label>
      <ion-input type="text" formControlName="Entrenador"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="floating" color="primary">Días por semana que quieres entrenar</ion-label>
      <ion-input type="text" formControlName="Dias"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label  position="floating" color="primary">Nombre de usuario</ion-label>
      <ion-input type="text" formControlName="NombreUsr"></ion-input>
    </ion-item>
    

    <ion-item>
      <ion-label  position="floating" color="primary">¿Qué quieres entrenar?</ion-label>
      <ion-input type="text" formControlName="Entrenar"></ion-input>
    </ion-item>
    <!--
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
  -->
    
    <ion-button  class="submit-btn" type="submit" onclick="writeUserData">Enviar solicitud</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
</ion-content>