.zona{
    margin:0%;
}
.cardej{
    width:40%;
    display: inline-block;
    height:220px;
    margin:0%;
    margin-left: 6%;
}
.ion-checkox{
    font-size: 10%;
}
.ejNombre{
    height:50px;
    font-size: 10%;
    text-align: center;
}

#title{
    font-size: 15px;
}
.ion-checkbox
 { 
    --height : 5px !important;
    --width: 5px;
  }

#checkBox{
    bottom:0%;
    height:20px;
}
#imgs{
    height: 60%;
}
#checkBoxx{
   margin-left: 70%;
   display: block;
   margin-top: 4%;
}
.custom-checkbox 
    .icon {
      font-size: 20px;
      position: absolute;
      left: 16px;
    }